*~
\#*
.#*
*.lock
.lake
lake-manifest.json
build
!/src/lake/Lake/Build
GPATH
GRTAGS
GSYMS
GTAGS
.projectile
.lean_options
.vs
compile_commands.json
*.idea
tasks.json
settings.json
.gdb_history
.vscode/*
!.vscode/settings.json
*.produced.out
CMakeSettings.json
CppProperties.json
result
fwIn.txt
fwOut.txt
wdErr.txt
wdIn.txt
wdOut.txt

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
